@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--background: #ffffff;
--foreground: #353535;
--primary: #000000;

--aa-search-input-height: 44px;
--aa-input-icon-size: 20px;
--aa-base-unit: 16;
--aa-spacing-factor: 1;
--aa-spacing: calc(var(--aa-base-unit)*var(--aa-spacing-factor)*1px);
--aa-spacing-half: calc(var(--aa-spacing)/2);
--aa-panel-max-height: 650px;
--aa-base-z-index: 9999;
--aa-font-size: calc(var(--aa-base-unit)*1px);
--aa-font-family: inherit;
--aa-font-weight-medium: 500;
--aa-font-weight-semibold: 600;
--aa-font-weight-bold: 700;
--aa-icon-size: 20px;
--aa-icon-stroke-width: 1.6;
--aa-icon-color-rgb: 119,119,163;
--aa-icon-color-alpha: 1;
--aa-action-icon-size: 20px;
--aa-text-color-rgb: 38,38,39;
--aa-text-color-alpha: 1;
--aa-primary-color-rgb: 62,52,211;
--aa-primary-color-alpha: 0.2;
--aa-muted-color-rgb: 128,126,163;
--aa-muted-color-alpha: 0.6;
--aa-panel-border-color-rgb: 128,126,163;
--aa-panel-border-color-alpha: 0.3;
--aa-input-border-color-rgb: 128,126,163;
--aa-input-border-color-alpha: 0.8;
--aa-background-color-rgb: 255,255,255;
--aa-background-color-alpha: 1;
--aa-input-background-color-rgb: 255,255,255;
--aa-input-background-color-alpha: 1;
--aa-selected-color-rgb: 179,173,214;
--aa-selected-color-alpha: 0.205;
--aa-description-highlight-background-color-rgb: 245,223,77;
--aa-description-highlight-background-color-alpha: 0.5;
--aa-detached-media-query: (max-width:680px);
--aa-detached-modal-media-query: (min-width:680px);
--aa-detached-modal-max-width: 680px;
--aa-detached-modal-max-height: 500px;
--aa-overlay-color-rgb: 115,114,129;
--aa-overlay-color-alpha: 0.4;
--aa-panel-shadow: 0 0 0 1px rgba(35,38,59,0.1),0 6px 16px -4px rgba(35,38,59,0.15);
--aa-scrollbar-width: 13px;
--aa-scrollbar-track-background-color-rgb: 234,234,234;
--aa-scrollbar-track-background-color-alpha: 1;
--aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb);
--aa-scrollbar-thumb-background-color-alpha: 1;
}

html, 
body {
color: var(--foreground);
background: var(--background);
font-family: var(--font-opensans);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
scroll-behavior:smooth;
}


.ais-Autocomplete-input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #fff;
border: 1px solid #d6d6e7;
border-radius: 3px;
box-shadow: rgba(119, 122, 175, 0.3) 0 1px 4px 0 inset;
caret-color: #5a5e9a;
color: #23263b;
flex: 1 1 0%;
font: inherit;
max-width: 100%;
padding-left: 2.5rem;
}


.ais-Breadcrumb-list, .ais-Carousel-list, .ais-CurrentRefinements-list, .ais-HierarchicalMenu-list, .ais-Hits-list, .ais-FrequentlyBoughtTogether-list, .ais-LookingSimilar-list, .ais-RelatedProducts-list, .ais-TrendingItems-list, .ais-Results-list, .ais-InfiniteHits-list, .ais-InfiniteResults-list, .ais-Menu-list, .ais-NumericMenu-list, .ais-Pagination-list, .ais-RatingMenu-list, .ais-RefinementList-list, .ais-ToggleRefinement-list {
margin: 0;
padding: 0;
list-style: none;
}
.ais-NumericMenu-label, .ais-ToggleRefinement-label, .ais-HierarchicalMenu-item, .ais-Menu-item, .ais-RatingMenu-item, .ais-RefinementList-item {
display: block;
font-size: 0.875rem;
line-height: 1.75rem;
}
.ais-HierarchicalMenu-item--selected > .ais-HierarchicalMenu-link > .ais-HierarchicalMenu-label, .ais-Menu-item--selected .ais-Menu-label, .ais-RefinementList-item--selected, .ais-RatingMenu-item--selected {
font-weight: 600;
}
.ais-HierarchicalMenu-link, .ais-Menu-link, .ais-RatingMenu-link, .ais-RefinementList-label {
align-items: center;
cursor: pointer;
display: flex;
flex-wrap: nowrap;
}
.ais-RefinementList-checkbox, .ais-GeoSearch-input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #fff;
background-position: 50%;
background-size: 180%;
border: 1px solid currentcolor;
border-radius: 3px;
box-shadow: inset 0 1px 4px 0 rgba(119, 122, 175, 0.4);
color: #d6d6e7;
cursor: inherit;
height: 1rem;
margin: 0 0.5rem 0 0;
min-width: 1rem;
}
.ais-RefinementList-item--selected .ais-RefinementList-checkbox, .ais-GeoSearch-input:checked {
background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235468ff%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%2220%206%209%2017%204%2012%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E");
background-size: 14px;
border-color: currentcolor;
box-shadow: rgba(35, 38, 59, 0.05) 0 1px 0 0 inset;
color: #3c4fe0;
}
.ais-RefinementList-labelText {
white-space: nowrap;
}
.ais-ToggleRefinement-count, .ais-HierarchicalMenu-count, .ais-Menu-count, .ais-RatingMenu-count, .ais-RefinementList-count {
background: #f5f5fa none repeat scroll 0% 0%;
border: 1px solid #b6b7d5;
border-radius: 99999px;
color: #23263b;
display: inline-flex;
flex-shrink: 0;
font-size: 0.75rem;
font-weight: 400;
line-height: 1rem;
margin-left: 0.5rem;
overflow: hidden;
padding: 0 0.25rem;
}


.ais-MenuSelect-select, .ais-HitsPerPage-select, .ais-SortBy-select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #fff;
background-image: url('data:image/svg+xml;utf8,<svg width="14" height="24" xmlns="http://www.w3.org/2000/svg"><g stroke="%23777aaf" stroke-width="2" fill="none" fill-rule="evenodd"><path d="M13 7L7 1 1 7M1 17l6 6 6-6"/></g></svg>'), linear-gradient(-180deg, #fff, #fcfcfd);
background-position: right 1rem center, 0 0;
background-repeat: no-repeat;
background-size: 10px, auto;
border: 1px solid #d6d6e7;
border-radius: 3px;
box-shadow: rgba(35, 38, 59, 0.05) 0 1px 0 0;
color: #23263b;
cursor: pointer;
font: inherit;
height: 2.5rem;
outline: currentcolor none medium;
padding: 0 2.5rem 0 1rem;
position: relative;
width: 100%;
}




/* Button */
.ais-Dropdown-button {
/*padding: 0.75rem 1.5rem;*/
padding: 0 1rem;
height: 2.5rem;
font-size: 1rem;
font-weight: 400;
cursor: pointer;
appearance: none;
background-color: #fff;
background-image: linear-gradient(-180deg, #fff, #fcfcfd);
border: 1px solid #d6d6e7;
border-radius: 3px;
box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
color: #23263b;
-webkit-user-select: none;
user-select: none;
display: flex;
align-items: center;
}
.ais-Dropdown-button span {
margin-right: 1rem;
}
.ais-Dropdown-button svg {
margin-left: auto;
}

.ais-Dropdown-button:hover {
background-image: linear-gradient(-180deg, #fff, #f5f5fa);
}

.ais-Dropdown-button:disabled[disabled] {
background-image: linear-gradient(-180deg, #fff, #f5f5fa);
border-color: #efeff5;
box-shadow: none;
color: #b6b7d5;
}

.ais-Dropdown-button--refined {
font-weight: bold;
}

/* Panel */
.ais-Dropdown.ais-Panel {
margin: 0;
}

.ais-Dropdown .ais-Panel-body {
position: absolute;
border: 1px solid #d6d6e7;
border-radius: 0.25rem;
padding: 0.8rem;
margin-top: 0.5rem;
background-color: #fff;
z-index: 100;
}

.ais-Dropdown .ais-Panel-header {
margin-bottom: 0;
}

.ais-Dropdown .ais-Panel-body {
display: none;
}

.ais-Dropdown .ais-Panel-footer {
margin: 0;
}

.ais-Dropdown--opened .ais-Panel-body {
display: block;
}

/* Mobile */
.ais-Dropdown-close {
display: none;
width: 100%;
margin: 0 1rem 1rem;
}

@media only screen and (max-width: 375px) {
.ais-Dropdown.ais-Dropdown--opened .ais-Panel-body {
position: fixed;
inset: 0;
margin: 0;
background: #fff;
padding-bottom: 4rem;
overflow-y: auto;
}

.ais-Dropdown.ais-Dropdown--opened .ais-Panel-footer {
position: fixed;
display: flex;
width: 100%;
justify-content: center;
bottom: 0;
left: 0;
background: #fff;
}

.ais-Dropdown--opened .ais-Dropdown-close {
display: inline;
}
}


.Pagination {
display: flex;
justify-content: center;
padding: 1rem 0;
margin: 0 auto;
}
.ais-Breadcrumb-list, .ais-Breadcrumb-item, .ais-Pagination-list, .ais-RangeInput-form, .ais-RatingMenu-link, .ais-PoweredBy {
display: flex;
align-items: center;
}
.ais-Breadcrumb-list, .ais-Carousel-list, .ais-CurrentRefinements-list, .ais-HierarchicalMenu-list, .ais-Hits-list, .ais-FrequentlyBoughtTogether-list, .ais-LookingSimilar-list, .ais-RelatedProducts-list, .ais-TrendingItems-list, .ais-Results-list, .ais-InfiniteHits-list, .ais-InfiniteResults-list, .ais-Menu-list, .ais-NumericMenu-list, .ais-Pagination-list, .ais-RatingMenu-list, .ais-RefinementList-list, .ais-ToggleRefinement-list {
margin: 0;
padding: 0;
list-style: none;
}
.ais-Pagination-item {
display: inline-block;
}
.ais-HierarchicalMenu-showMore, .ais-Menu-showMore, .ais-RefinementList-showMore, .ais-ClearRefinements-button, .ais-InfiniteHits-loadMore, .ais-RangeInput-submit, .ais-InfiniteHits-loadPrevious, .ais-Pagination-link, .ais-GeoSearch-redo, .ais-GeoSearch-reset, .ais-VoiceSearch-button, .ais-RelevantSort-button, .ais-Carousel-navigation {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background-color: #fff;
background-image: linear-gradient(-180deg, #fff, #fcfcfd);
border: 1px solid #d6d6e7;
border-radius: 3px;
box-shadow: 0 1px 0 0 rgba(35, 38, 59, 0.05);
color: #23263b;
cursor: pointer;
display: inline-flex;
font-size: 0.875rem;
font-weight: 400;
height: 2rem;
justify-content: center;
line-height: 1.25rem;
padding: 0 1rem;
place-items: center;
text-decoration: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
.ais-HierarchicalMenu-showMore:active, .ais-Menu-showMore:active, .ais-RefinementList-showMore:active, .ais-ClearRefinements-button:active, .ais-InfiniteHits-loadMore:active, .ais-InfiniteHits-loadPrevious:active, .ais-Pagination-item--selected .ais-Pagination-link, .ais-Pagination-link:active, .ais-GeoSearch-redo:active, .ais-GeoSearch-reset:active, .ais-VoiceSearch-button:active, .ais-Carousel-navigation:active {
border-color: #d6d6e7;
box-shadow: rgba(119, 122, 175, 0.4) 0 1px 4px 0 inset, rgba(119, 122, 175, 0.4) 0 1px 1px 0 inset, rgba(35, 38, 59, 0.05) 0 1px 0 0;
}
.ais-HierarchicalMenu-showMore:hover, .ais-Menu-showMore:hover, .ais-RefinementList-showMore:hover, .ais-ClearRefinements-button:hover, .ais-InfiniteHits-loadMore:hover, .ais-RangeInput-submit:hover, .ais-InfiniteHits-loadPrevious:hover, .ais-Pagination-item:not(.ais-Pagination-item--selected):not(.ais-Pagination-item--disabled) .ais-Pagination-link:hover, .ais-GeoSearch-redo:hover, .ais-GeoSearch-reset:hover, .ais-VoiceSearch-button:hover, .ais-Carousel-navigation:hover {
background-image: linear-gradient(-180deg, #fff, #f5f5fa);
border-color: #d6d6e7;
}
.ais-Pagination-item--selected .ais-Pagination-link {
font-weight: bold;
}
.ais-ClearRefinements-button:disabled[disabled], .ais-InfiniteHits-loadMore:disabled[disabled], .ais-InfiniteHits-loadPrevious:disabled[disabled], .ais-Pagination-item--disabled .ais-Pagination-link, .ais-GeoSearch-redo--disabled, .ais-GeoSearch-reset--disabled, .ais-VoiceSearch-button:disabled {
background-image: linear-gradient(-180deg, #fff, #f5f5fa);
border-color: #efeff5;
box-shadow: none;
color: #b6b7d5;
}
.ais-Pagination-item + .ais-Pagination-item > .ais-Pagination-link {
border-radius: 0;
margin-left: -1px;
}
.ais-Pagination-item:first-child > .ais-Pagination-link {
border-radius: 3px 0 0 3px;
}
.ais-Pagination-item:last-child > .ais-Pagination-link {
border-radius: 0 3px 3px 0;
}


.aa-Autocomplete, .aa-DetachedFormContainer, .aa-Panel {
color: rgba(38, 38, 39,1);
color: rgba(var(--aa-text-color-rgb),var(--aa-text-color-alpha));
font-family: inherit;
font-family: var(--aa-font-family);
font-size: calc(16 * 1px);
font-size: var(--aa-font-size);
font-weight: 400;
line-height: 1em;
margin: 0;
padding: 0;
text-align: left;
}
.aa-Form {
align-items: center;
background-color: rgba(255, 255, 255,1);
background-color: rgba(var(--aa-input-background-color-rgb),var(--aa-input-background-color-alpha));
border: 1px solid rgba(128, 126, 163,0.8);
border: 1px solid rgba(var(--aa-input-border-color-rgb),var(--aa-input-border-color-alpha));
border-radius: 3px;
display: flex;
line-height: 1em;
margin: 0;
position: relative;
width: 100%;
}
.aa-InputWrapperPrefix {
align-items: center;
display: flex;
flex-shrink: 0;
height: 44px;
height: var(--aa-search-input-height);
order: 1;
}
.aa-InputWrapper {
order: 3;
position: relative;
width: 100%;
}
.aa-InputWrapperSuffix {
align-items: center;
display: flex;
height: 44px;
height: var(--aa-search-input-height);
order: 4;
}
.aa-Label, .aa-LoadingIndicator {
cursor: auto;
flex-shrink: 0;
height: 100%;
padding: 0;
text-align: left;
}
.aa-LoadingIndicator, .aa-SubmitButton {
height: 100%;
padding-left: calc((16 * 1 * 1px)*0.75 - 1px);
padding-left: calc(calc(16 * 1 * 1px)*0.75 - 1px);
padding-left: calc(var(--aa-spacing)*0.75 - 1px);
padding-right: calc((16 * 1 * 1px) / 2);
padding-right: calc(calc(16 * 1 * 1px) / 2);
padding-right: var(--aa-spacing-half);
width: calc((16 * 1 * 1px)*1.75 + 20px - 1px);
width: calc(calc(16 * 1 * 1px)*1.75 + 20px - 1px);
width: calc(var(--aa-spacing)*1.75 + var(--aa-icon-size) - 1px);
}
.aa-LoadingIndicator {
align-items: center;
display: flex;
justify-content: center;
}
.aa-LoadingIndicator[hidden] {
display: none;
}
.aa-Input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
background: none;
border: 0;
color: rgba(38, 38, 39,1);
color: rgba(var(--aa-text-color-rgb),var(--aa-text-color-alpha));
font: inherit;
height: 44px;
height: var(--aa-search-input-height);
padding: 0;
width: 100%;
}
.aa-ClearButton {
align-items: center;
background: none;
border: 0;
color: rgba(128, 126, 163,0.6);
color: rgba(var(--aa-muted-color-rgb),var(--aa-muted-color-alpha));
cursor: pointer;
display: flex;
height: 100%;
margin: 0;
padding: 0 calc((16 * 1 * 1px)*0.83333 - .5px);
padding: 0 calc(calc(16 * 1 * 1px)*0.83333 - .5px);
padding: 0 calc(var(--aa-spacing)*0.83333 - .5px);
}
.aa-ClearButton[hidden] {
display: none;
}




aside .ais-Panel {
border-top: 1px solid #cccccc;
margin: 0;
}
aside .ais-Panel:first-child {
border-top: 0px solid;
}
aside .ais-Panel-header {
color: #666666;
font-size: 1rem;
font-weight: 500;
cursor: pointer;
padding: 1rem 0;
margin: 0;
display: flex;
align-items: center;
}
aside .ais-Panel-header span:first-child {
flex-grow: 1;
}
aside .ais-Panel-header span:last-child {
font-size: 1.25rem;
flex: none;
}
aside .ais-Panel-body {
padding: .5rem 0 1rem;
}





.ais-CurrentRefinements-list {
display: inline-grid;
gap: 1rem;
grid-auto-flow: column;
}
.ais-CurrentRefinements-item {
align-items: center;
background-color: #f5f5fa;
border: 1px solid #b6b7d5;
border-radius: 3px;
display: flex;
display: inline-flex;
font-size: 0.875rem;
line-height: 1.5;
min-height: 1.5rem;
padding: 0.05rem 0.5rem;
}
.ais-CurrentRefinements-label {
text-transform: capitalize;
}
.ais-CurrentRefinements-category {
display: flex;
margin-left: 0.5rem;
}
.ais-CurrentRefinements-delete {
color: #9698c3;
height: 100%;
margin-left: 0.25rem;
outline-width: 0;
font-weight: 600 !important;
}
